@font-face {font-family: Retro; src: url('onesize/ONESIZE_.TTF')}
@font-face {font-family: Matrix; src: url('matrix_code_nfi/matrix\ code\ nfi.ttf')}
@font-face {font-family: Minecraft; src: url('monocraft/Monocraft.ttf')}

* {margin: 0; padding: 0}

body {
    background-color: black;
}

#animation-wrapper {
    display: flex;
}

#main-wrapper {
    display: flex;
    justify-content: center;
}

#first-column {
    display: flex;
    height: 100%;
    width: 100px;
    background-color: none;
    position: absolute;
    z-index: 1;
    left: 250px;
}

#second-column {
    display: flex;
    height: 100%;
    width: 100px;
    background-color: none;
    position: absolute;
    z-index: 1;
    left: 550px;
}

#third-column {
    display: flex;
    height: 100%;
    width: 100px;
    background-color: none;
    position: absolute;
    z-index: 1;
}

#fourth-column {
    display: flex;
    height: 100%;
    width: 100px;
    background-color: none;
    position: absolute;
    z-index: 1;
    right: 550px;
}

#fifth-column {
    display: flex;
    height: 100%;
    width: 100px;
    background-color: none;
    position: absolute;
    z-index: 1;
    right: 250px;
}

.column-text {
    font-size: 85px;
    font-family: Matrix;
    text-align: center;
    color: white;
    background-color: none;
    width: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    cursor: pointer;
}

.column-text:hover {
    font-family: Retro;
    color: red;
}

/* github text transition */
#github:after {
    content: "github";
}
 
#github:hover:after {
    content: "GITHUB";
}
 
/* projects text transition */
#projects:after {
    content: "projects";
}
 
#projects:hover:after {
    content: "PROJECTS";
}

/* about-me text transition */
#about-me:after {
    content: "about me";
}
 
#about-me:hover:after {
    content: "ABOUT ME";
}

/* linkedin text transition */
#linkedin:after {
    content: "linkedin";
}
 
#linkedin:hover:after {
    content: "LINKEDIN";
}

/* e-mail text transition */
#e-mail:after {
    content: "e-mail";
}
 
#e-mail:hover:after {
    content: "E-MAIL";
}
